body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url("../assets/mika-baumeister-1_06J3TR84Y-unsplash.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }