html {
   height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: black;
}
.lightMode {

}
.darkMode {

}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgb(27,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;
}
header {

}
}
.navbar {

}
ul {

}
li {

}
#logo {
    display: block;
    float: right;
    clear: right;
    
}
main {

}
#mainTitle {

}
#heroSection {

}
h2 {
    
}
picture {

}
#heroSection {
    background-image: url(/assets/placeholderbg.png);
    background-position:center; 
    background-repeat:no-repeat;
    max-height: auto;
    z-index: -10;
}
article {
    background-image: url(../assets/placeholderbg.png)
}
h2 {

}
h3 {

}
p {

}
